[Unit]
Description=UFW Web Dashboard
After=network.target

[Service]
ExecStart=/usr/bin/python3 /var/www/html/ufw_web.py
Restart=always
User=student
WorkingDirectory=/path/to/
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
